* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}


.home {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;

    .sec-1 {
      display: flex;

      align-self: center;

        .sec-1-img{
          height: 32rem;
          width: 31rem;
          background-color: rgba(36, 171, 112, 0.04);
          padding-left: 3.5rem;
          padding-top: 5rem;
          padding-right: 1rem;
         
          border-top-left-radius: 3.125rem;
          .home-title {
              font-size: 2.5rem;
              font-weight: 600;
          }

          .home-subtitle{
              font-size: 1rem;
              color: #555555;
              margin-top: 1rem;
              line-height: 2;
          }
          
        }
    }

    .sec-2-img {

      height: 32rem;
      width: 31rem;
      
      object-fit: cover;
      border-top-right-radius: 3.125rem;


    }
  .sec-2 {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 2.5rem;
    margin-right: 2rem;

      .sec2-header {
        font-size: 1.75rem;
        font-weight: 500;
        

      }


    .sec2-subheader-con {
      display: flex;
      align-items: center;
      justify-content: space-between;

        .sec2-subheader {
          font-size: 0.95rem;
          color: #555555;
        }

        .view-all{
          padding: 1rem;
          border-radius: 1.5rem;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          color: #223A6A;
          background-color: rgba(36, 171, 112, 0.1);
          cursor: pointer;
        }
    }

      .locationCard-con {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
      }
  }
  .sec-3{
    display: flex;
    margin-top: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    background-color: #F4FBF8;
   

      .discover-img {
        width: 30rem;
        height: 23rem;
        object-fit: cover;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
      }

      .discover-con {
        background-color: #F4FBF8;
        padding-left: 2.5rem;
        padding-top: 3.5rem;
        padding-right: 4.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
          .dicover-header {
            font-size: 1.75rem;
            font-weight: 500;
          }
          .discover-sub {
            font-size: 1rem;
            font-weight: 400;
            line-height: 2;
            color: #555555;
          }
      }
  }

    .sec-4 {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      margin-top: 3.5rem;
      margin-left: 2rem;

        .faq-header-con{
          display: flex;
          flex-direction: column;
          gap: 1rem;

            .faq-header {
              font-size: 1.75rem;
              font-weight: 500;
              width: 30%;


            }

            .faq-subHeader {

                color: rgba(16, 28, 38, 0.8);
                width: 65%;

            }
        }
        .faq-drop-con {
          display: flex;
          flex-direction: column;
        }
    }

    .sec-5 {
        margin-top: 3.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 3.5rem;
    }
    .sec-6 {
      margin-top: 3.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      border-top-style: solid;
      border-top-color: #ccc;
      border-top-width: 1px;
      padding-top: 1.5rem;
    }
}