* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.header {
  display: flex;
  justify-content: space-between;
    padding: 2rem;
  
  

    .section-1 {
      display: flex;
      align-items: center;

        .logo{
          object-fit: contain;
          margin-right: 0.5rem;
          align-items: center;

        }

        .search {
          display: flex;
          padding: 1rem;
          border-radius: 1.5rem;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          background-color: #223A6A;
          color: white;
          cursor: pointer;

            .search-icon{
              object-fit: contain;
            }
            .search-text {
              font-size: 1rem;
            }
        }
      
    }


    .section-2 {
      display: flex;
      align-items: center;
      gap: 1rem;
      .menu{
        font-size: 1rem;
        cursor: pointer;
      }

      .login-button {
        padding: 1rem;
        border-radius: 1.5rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        background-color: #223A6A;
        font-size: 1rem;
        cursor: pointer;
        border-style: none;
        color: white;

      }


    }
}