// styles.scss

$primaryColor: #223A6A;
$secondaryColor: #395E23;
$fontFamily: 'Open Sans', sans-serif;

body {
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
 
}

.term-con {

  display: flex;
  gap: 0.2rem;
}

.tick-box {
  display: flex;
  gap:0.3rem;
  margin-top: 0.3rem;
}

.checkbox {
  color: lightgray;
  font-size: 0.7rem;
  margin-left: -0.5rem;
}

/* Add this to your existing Register.scss or create a new CSS file */

.check-box {
  appearance: none;
  width: 24px; /* Adjust the size as needed */
  height: 24px; /* Adjust the size as needed */
  border: 2px solid #13773c;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  outline: none;
  position: relative;
 

  
}

.check-box:checked {
  background-color: #13773c;
  border-color: #13773c;
}

.check-box:checked::before {
  content: '\2713'; /* Unicode character for checkmark */
  font-size: 16px; /* Adjust the size as needed */
  color: #fff; /* Adjust the color as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Adjust the styles as needed based on your design preferences */


.agree-checkbox:checked + .agree-label {
  /* Styles for the label when the checkbox is checked */
  color: #2ecc71; /* Change the color to your preferred color */
  font-weight: bold;
}

.agree-checkbox:not(:checked) + .agree-label {
  /* Styles for the label when the checkbox is not checked */
  color: #555; /* Change the color to your preferred color */
  font-weight: normal;
}

.agree-label {
  /* Styles for the label */
  font-size: 0.75rem; /* Adjust the font size to make it very small */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  margin-top: 0.75rem;
}

.terms-page {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
 
  h1 {
    color: $primaryColor;
    font-size: 1em;
    margin-bottom: 0.5rem; // Adjusted font size
  }

  h2 {
    color: $secondaryColor;
    font-size: 1em; // Adjusted font size
  }

  section {
    margin-bottom: 20px;

    p {
      line-height: 1.6;
      font-size: 0.9em; // Adjusted font size
    }
  }
}

@media (max-width: 600px) {
  .terms-page {
    padding: 10px;

    h1 {
      font-size: 1.3em; // Adjusted font size
    }

    h2 {
      font-size: 1.1em; // Adjusted font size
    }

    section {
      margin-bottom: 10px;

      p {
        font-size: 0.8em; // Adjusted font size
      }
    }
  }
}